.sub-header {
  height: 50vh;
  width: 100%;
  background-color: #000;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 50px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .sub-header h1 {
    font-size: 1rem;
  }
}