
.cta {
  margin: 100px auto;
  width: 80%;
  background-color: #000;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.cta a {
  text-decoration: none;
}


@media (max-width: 768px) {
  .cta h1 {
    font-size: 22px;
  }
}