.faculty-nav {
  height:80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/faculty.jpg);
  background-position: top;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.faculty-nav h1 {
  margin-top: 50px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .faculty-nav h1 {
    font-size: 1rem;
  }
}
