nav {
  padding: 0% 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  min-height: 80px;
  
}

nav img {
  width: 120px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #dc143c;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.dark-text .nav-links ul li a {
  color: #000;
}

.dark-text .fas {
  color: #000 !important;
}

nav .fas {
  display: none;
}


@media (max-width: 768px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: #000;
    border-left: 2px solid #dc143c;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.3s;
  }

  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}